
.dark { background-color: #2d2d2d; color: #ffffff;  }
.light { background-color: #e2e2e2; color: #000000; }


.group{ width: 29.3333%; float: left; display: inline-block; padding: 20px 1%  60px 1%; margin: 20px 2%; position:relative;  }

.item{ width: 100%; height: 45px; display: inline-block; padding: 10px 10px; margin: 1px 0; overflow:hidden; position: relative;}

.item.edit { height: 400px; }

.item-description {background-color: #c2cfeb; width: 100%; margin: 40px 0 0 0; }

.item-description textarea { width: 100%; height: 150px;}

.item-title { width: calc(100% - 40px); float: left;  }


.button-area { width: 100%; display: inline-block; position: absolute; bottom: -40px; left: 10px; }

.group > .button-area { bottom: 20px; } 

.item.edit .button-area { bottom: 10px; }

button.itemDone { border: 1px solid black; width: 25px; height: 25px; float: right; display: inline-block; } 

