/* line 2, scss/content.scss */
.dark {
  background-color: #2d2d2d;
  color: #ffffff;
}

/* line 3, scss/content.scss */
.light {
  background-color: #e2e2e2;
  color: #000000;
}

/* line 6, scss/content.scss */
.group {
  width: 29.3333%;
  float: left;
  display: inline-block;
  padding: 20px 1%  60px 1%;
  margin: 20px 2%;
  position: relative;
}

/* line 8, scss/content.scss */
.item {
  width: 100%;
  height: 45px;
  display: inline-block;
  padding: 10px 10px;
  margin: 1px 0;
  overflow: hidden;
  position: relative;
}

/* line 10, scss/content.scss */
.item.edit {
  height: 400px;
}

/* line 12, scss/content.scss */
.item-description {
  background-color: #c2cfeb;
  width: 100%;
  margin: 40px 0 0 0;
}

/* line 14, scss/content.scss */
.item-description textarea {
  width: 100%;
  height: 150px;
}

/* line 16, scss/content.scss */
.item-title {
  width: calc(100% - 40px);
  float: left;
}

/* line 19, scss/content.scss */
.button-area {
  width: 100%;
  display: inline-block;
  position: absolute;
  bottom: -40px;
  left: 10px;
}

/* line 21, scss/content.scss */
.group > .button-area {
  bottom: 20px;
}

/* line 23, scss/content.scss */
.item.edit .button-area {
  bottom: 10px;
}

/* line 25, scss/content.scss */
button.itemDone {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  float: right;
  display: inline-block;
}

/* line 26, scss/content.scss */
button.itemDelete {
  border: 1px solid white;
  background-color: transparent;
  width: 25px;
  height: 25px;
  float: right;
  display: inline-block;
}

/* line 29, scss/content.scss */
.doneItems {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

/* line 31, scss/content.scss */
.doneItems.hide {
  opacity: 0.0;
  height: 1px;
  transition: all .4s;
}

/* line 33, scss/content.scss */
.doneItems.show {
  opacity: 1.0;
  height: auto;
  transition: all .4s;
}
