/* line 3, scss/content.scss */
.group {
  width: 33.3333%;
  float: left;
  display: inline-block;
  padding: 20px 3%;
}

/* line 5, scss/content.scss */
.item {
  width: 100%;
  display: inline-block;
  padding: 10px 10px;
  margin: 1px 0;
  background-color: #e2e2e2;
  overflow: hidden;
}

/* line 7, scss/content.scss */
.item-title {
  width: calc(100% - 40px);
  float: left;
}

/* line 9, scss/content.scss */
button.itemDone {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  float: right;
  display: inline-block;
}
